@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

body {
  background: #eee;
  font-family: 'Nunito Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
